@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope";
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nimbleedge-gradient {
  background: linear-gradient(90deg, #6565ff 19.62%, #fa00ff 64.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* TEXT ANIMATION */

/* .container {
  width: 400px;
  height: 220px;
  position: relative;
} */

.title-local span,
.subtitle-local span {
  width: 100%;
  float: left;
  /* -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%); */
  transform: translateY(-80px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 5s;
}

.title-local span {
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
}
.title-local span:first-child {
  animation-delay: 0.7s;
}
.title-local span:last-child {
  animation-delay: 0.5s;
}

.subtitle-local span {
  transform: translateY(-20px);
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}
.subtitle-local span:first-child {
  animation-delay: 1.5s;
}
.subtitle-local span:last-child {
  animation-delay: 2s;
}

.filler-title-local span {
  width: 100%;
  float: left;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-20px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 1.8s;
  animation-delay: 4.8s;
  -webkit-animation-fill-mode: both;
}

.filler-title-local span {
}

/* SHINY TEXT */
.fade-in-button {
  animation: fade-in 5s;
}

.shiny-button-local {
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 2s linear infinite,
    fade-in 6s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.4);
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* scale animation */
.section-1 {
  animation: scale 3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 4s;
}

.section-2 {
  animation: slide-up 3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-delay: 4.2s;
}

.section-3 {
  animation: de-scale 4s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 4s;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  25%,
  50%,
  75% {
    transform: scale(0.9);
    border-radius: 24px;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes de-scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    border-radius: 24px;
  }

  25%,
  50%,
  75% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
    border-radius: 0px;
  }
}

@keyframes slide-up {
  0% {
    transform: translate(0, 100%);
  }

  25%,
  50%,
  75% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -100%);
  }
}
